@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&family=Unbounded:wght@200..900&display=swap");
body {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #216a9eb7;
  margin: 0;
  padding: 20px;
}
.img{
    width: 250px;
margin-left: 30px;
}
.container{
    /* height: 500px; */
    /* max-height: 500px; */
    max-width: 400px;
    height: min-content;
    margin: 0 auto;
    background-color: rgba(2, 19, 255, 0.582);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
    height: 900px;
}
.container h1{
    text-align: center;
    color: rgb(255, 255, 255);
     font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding: 15px;
}
.search-block{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#city-input{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    outline: none   ;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        
}

#search-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
#weather-info{
    text-align: center;
    display: flex;
   justify-content: center;
   width: auto;
   }
li h6{
    color: rgb(6, 6, 192);
}
.card-text{
    color: #007bff;
}
.error{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: red;
    text-shadow: 0 0px 3px white;
}
.list-group-item{
    margin-top: -10px;
}
.vremia{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 10px;
    color: red;
    font-weight: bold;
}
.vremia1{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 10px;
    color: red;
}
button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }
   /* анимация */
   .loader {
    position: relative;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .loader::before {
    content: '';
    position: absolute;
    inset: 20px;
    background: transparent;
    border: 1px dashed #444;
    border-radius: 50%;
    box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
        inset 5px 5px 35px rgba(0, 0, 0, 0.25);
  }
  
  .loader::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px dashed #444;
    box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
        inset 5px 5px 35px rgba(0, 0, 0, 0.932);
  }
  
  .loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background: transparent;
    transform-origin: top left;
    animation: radar81 2s linear infinite;
    border-top: 1px dashed #fff;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f50a50;
 
   /* pink */
    transform-origin: top left;
    transform: rotate(-55deg);
    filter: blur(30px) drop-shadow(20px 20px 20px #080808);
   /* pink */
  }
  
  @keyframes radar81 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }